In [ ]:
# created at: 08-01-2025

In [ ]:
# merge two list using method.

In [8]:
def get_merged_list(list1, list2):
    non_duplicates = []
    merged_list = list1 + list2
    for x in merged_list:
        if x not in non_duplicates:
            non_duplicates.append(x)
    return non_duplicates

In [9]:
# create lists in method.

In [14]:
def lists():
    list1 = [
        "jupiter",
        "prakash",
        "ram",
        "raju",
        "bruno",
        2.3
    ]
    list2 = [
        2.3,
        "jupiter",
        "mars",
        "mercury",
        "venus",
        134340,
        "saturn"
    ]
    combined_list = get_merged_list(list1, list2)   
    print(combined_list)

In [ ]:
# call the method here...

In [15]:
lists()

['jupiter', 'prakash', 'ram', 'raju', 'bruno', 2.3, 'mars', 'mercury', 'venus', 134340, 'saturn']