In [ ]:
#import neccessary libraries

In [2]:
import sqlite3

In [3]:
# Establish database connection

In [4]:
def connect():
    return sqlite3.connect("example.db")

In [5]:
# Create Table (Run this once)

In [6]:
def create_table():
    with connect() as conn:
        cursor = conn.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS users (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                age INTEGER NOT NULL,
                email TEXT UNIQUE NOT NULL
            )
        """)
        conn.commit()

In [7]:
# CREATE

In [8]:
def create_user(name, age, email):
    with connect() as conn:
        cursor = conn.cursor()
        cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)", (name, age, email))
        conn.commit()
        print("User added successfully!")

In [9]:
# READ

In [10]:
def get_users():
    with connect() as conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM users")
        rows = cursor.fetchall()
        for row in rows:
            print(row)

In [11]:
# UPDATE

In [12]:
def update_user(user_id, name=None, age=None, email=None):
    with connect() as conn:
        cursor = conn.cursor()
        updates = []
        if name:
            updates.append(f"name = '{name}'")
        if age:
            updates.append(f"age = {age}")
        if email:
            updates.append(f"email = '{email}'")
        if updates:
            query = f"UPDATE users SET {', '.join(updates)} WHERE id = ?"
            cursor.execute(query, (user_id,))
            conn.commit()
            print("User updated successfully!")

In [13]:
# DELETE

In [14]:
def delete_user(user_id):
    with connect() as conn:
        cursor = conn.cursor()
        cursor.execute("DELETE FROM users WHERE id = ?", (user_id,))
        conn.commit()
        print("User deleted successfully!")

In [15]:
# Example Usage

In [16]:
if __name__ == "__main__":
    create_table()
    
    # CREATE
    create_user("Alice", 25, "alice@example.com")
    create_user("Bob", 30, "bob@example.com")

User added successfully!
User added successfully!

In [17]:
# READ

In [18]:
    print("\nAll Users:")
    get_users()

All Users:
(1, 'Alice', 25, 'alice@example.com')
(2, 'Bob', 30, 'bob@example.com')

In [19]:
  # UPDATE

In [20]:

    print("\nUpdating Bob's age:")
    update_user(2, age=35)
    get_users()

Updating Bob's age:
User updated successfully!
(1, 'Alice', 25, 'alice@example.com')
(2, 'Bob', 35, 'bob@example.com')

In [21]:
 # DELETE

In [22]:
   
    print("\nDeleting Alice:")
    delete_user(1)
    get_users()

Deleting Alice:
User deleted successfully!
(2, 'Bob', 35, 'bob@example.com')