In [ ]:
#import pandas library

In [ ]:
#!pip install pandas

In [1]:
import pandas as pd

In [ ]:
#create a variable called data and put some values

In [9]:
data1 = {
    'Category': ['A', 'A', 'B', 'B'],
    'Type': ['X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40]
}

In [10]:
df = pd.DataFrame(data1)

In [11]:
# Setting a multi-level index

In [12]:
df = df.set_index(['Category', 'Type'])
print(df)

               Value
Category Type
A        X        10
         Y        20
B        X        30
         Y        40

In [13]:
# Accessing data using multi-level indexing

In [14]:
print(df.loc['A', 'X'])

Value    10
Name: (A, X), dtype: int64

In [16]:
#create pivot  table

In [17]:
data2 = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York'],
    'Year': [2020, 2020, 2021, 2021],
    'Sales': [100, 200, 150, 300]
}

In [18]:
df = pd.DataFrame(data2)

In [19]:
# Creating a pivot table

In [20]:
pivot = df.pivot_table(values='Sales', index='City', columns='Year', aggfunc='sum', fill_value=0)
print(pivot)

Year         2020  2021
City
Chicago         0   150
Los Angeles   200     0
New York      100   300

In [21]:
#Exploding Lists into Rows

In [22]:
data3 = {
    'Name': ['Alice', 'Bob'],
    'Hobbies': [['Reading', 'Cycling'], ['Swimming']]
}

In [23]:
df = pd.DataFrame(data3)

In [24]:
# Exploding lists into separate rows

In [25]:
df = df.explode('Hobbies')
print(df)

    Name   Hobbies
0  Alice   Reading
0  Alice   Cycling
1    Bob  Swimming