In [3]:
import pandas as pd

In [ ]:
#Filtering and Querying

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

In [5]:
df = pd.DataFrame(data)

In [6]:
# Querying the DataFrame

In [7]:
filtered = df.query('Age > 28 and Salary > 55000')
print(filtered)

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

In [9]:
#Filtering with Complex Conditions

In [10]:
# Using lambda functions

In [11]:
filtered = df[df['Name'].apply(lambda x: x.startswith('A'))]
print(filtered)

    Name  Age  Salary
0  Alice   25   50000

In [12]:
#Data Transformation and Adding Calculated Columns

In [13]:
df['Salary in USD'] = df['Salary'] * 1.1  # Assuming a 10% conversion rate
print(df)

      Name  Age  Salary  Salary in USD
0    Alice   25   50000        55000.0
1      Bob   30   60000        66000.0
2  Charlie   35   70000        77000.0

In [14]:
#Apply Custom Functions

In [15]:
def age_group(age):
    if age < 30:
        return 'Young'
    elif age < 40:
        return 'Mid-Age'
    else:
        return 'Senior'

In [16]:
df['Age Group'] = df['Age'].apply(age_group)
print(df)

      Name  Age  Salary  Salary in USD Age Group
0    Alice   25   50000        55000.0     Young
1      Bob   30   60000        66000.0   Mid-Age
2  Charlie   35   70000        77000.0   Mid-Age