In [13]:
#import pandas library

In [14]:
import pandas as pd

In [15]:
# GroupBy and Aggregations

In [16]:
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 60000, 45000, 70000, 65000]
}

In [17]:
df = pd.DataFrame(data)

In [18]:
# Grouping and aggregating

In [19]:
grouped = df.groupby('Department')['Salary'].agg(['mean', 'sum', 'max'])
print(grouped)

               mean     sum    max
Department
Finance     65000.0   65000  65000
HR          47500.0   95000  50000
IT          65000.0  130000  70000

In [20]:
#Merging, Joining, and Concatenating

In [21]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 3], 'Salary': [50000, 60000]})

In [22]:
merged = pd.merge(df1, df2, on='ID', how='outer')
print(merged)

   ID   Name   Salary
0   1  Alice  50000.0
1   2    Bob      NaN
2   3    NaN  60000.0

In [23]:
#Concatenating

In [24]:
concat = pd.concat([df1, df2], ignore_index=True)
print(concat)

   ID   Name   Salary
0   1  Alice      NaN
1   2    Bob      NaN
2   1    NaN  50000.0
3   3    NaN  60000.0