In [ ]:
#GroupBy with Multiple Aggregations

In [ ]:
#import pandas library

In [2]:
import pandas as pd

In [3]:
# Sample DataFrame

In [4]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Sales', 'Sales'],
    'Employee': ['John', 'Emma', 'Alice', 'Bob', 'Charles', 'Diana'],
    'Salary': [50000, 60000, 75000, 80000, 45000, 48000],
    'Experience': [5, 4, 6, 7, 3, 2]
}

In [ ]:
#convert the variable as DataFrame

In [6]:
df = pd.DataFrame(data)

In [7]:
df

  Department Employee  Salary  Experience
0         HR     John   50000           5
1         HR     Emma   60000           4
2         IT    Alice   75000           6
3         IT      Bob   80000           7
4      Sales  Charles   45000           3
5      Sales    Diana   48000           2

In [8]:
# Group by and aggregate

In [9]:
agg_df = df.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Avg_Experience=('Experience', 'mean'),
    Max_Salary=('Salary', 'max')
).reset_index()

In [12]:
print(f"Grouped and Aggregated DataFrame:\n{agg_df}")

Grouped and Aggregated DataFrame:
  Department  Total_Salary  Avg_Experience  Max_Salary
0         HR        110000             4.5       60000
1         IT        155000             6.5       80000
2      Sales         93000             2.5       48000