In [ ]:
# Handling Missing Data

In [12]:
#import neccessary libraries

In [41]:
import pandas as pd

In [42]:
import numpy as np

In [43]:
# Create a DataFrame with missing values

In [44]:
#np.nan: Represents missing values.

In [45]:
data = {
    'Name': ['Alice', 'Bob', None],
    'Age': [25, np.nan, 35],
    'City': ['New York', None, 'Chicago']
}

In [46]:
df = pd.DataFrame(data)

In [47]:
# Fill missing values with 'Unknown' or 0

In [48]:
#df.fillna(): Replaces missing values with specified values.

In [49]:
df_filled = df.fillna({'Name': 'Unknown', 'Age': 0, 'City': 'Unknown'})

In [50]:
#print the variable

In [51]:
print(df_filled)

      Name   Age      City
0    Alice  25.0  New York
1      Bob   0.0   Unknown
2  Unknown  35.0   Chicago

In [52]:
# Sort by Age in descending order

In [53]:
sorted_df = df.sort_values(by='Age', ascending=False)

In [54]:
print(sorted_df)

    Name   Age      City
2   None  35.0   Chicago
0  Alice  25.0  New York
1    Bob   NaN      None

In [55]:
# Group by 'City' and calculate the average Age

In [56]:
grouped_df = df.groupby('City')['Age'].mean()

In [57]:
print(grouped_df)

City
Chicago     35.0
New York    25.0
Name: Age, dtype: float64

In [59]:
# Summary statistics

In [60]:
print(df.describe())

             Age
count   2.000000
mean   30.000000
std     7.071068
min    25.000000
25%    27.500000
50%    30.000000
75%    32.500000
max    35.000000

In [ ]:
# Merging DataFrames

In [64]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})

In [65]:
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Score': [85, 90, 95]})

In [66]:
# Merge on the 'ID' column

In [67]:
merged_df = pd.merge(df1, df2, on='ID', how='inner')

In [68]:
print(merged_df)

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90