In [ ]:
#Pivot Tables for Aggregated Data Analysis

In [ ]:
#import pandas library

In [1]:
import pandas as pd

In [21]:
# Sample DataFrame

In [9]:
data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Subcategory': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Values': [10, 20, 0, 40, 50, 60],
    'Counts': [1, 2, 1, 3, 2, 4]
}

In [ ]:
#converte the variable as DataFrame

In [10]:
df = pd.DataFrame(data)

In [11]:
df

  Category Subcategory  Values  Counts
0        A           X      10       1
1        A           Y      20       2
2        B           X       0       1
3        B           Y      40       3
4        C           X      50       2
5        C           Y      60       4

In [12]:
# Create a pivot table

In [19]:
pivot = pd.pivot_table(
    df, 
    values     ='Values', 
    index      ='Category', 
    columns    ='Subcategory', 
    aggfunc    ='sum', 
    fill_value =0
)

In [20]:
print("Pivot Table:")
print(pivot)

Pivot Table:
Subcategory   X   Y
Category
A            10  20
B             0  40
C            50  60