In [29]:
import pandas as pd

In [30]:
#from openpyxl import pd

In [31]:
def create_df(filename):
    data = {
        'name':['andal','saravana','santhosh','sandy'],
        'age':[25,26,27,28],
        'city':['chennai','madurai','coimbatore','salem']
    }
    df = pd.DataFrame(data)
    df.to_excel(
        filename,
        index=False
    )

In [32]:
def read_excel(file_name):
    df = pd.read_excel(file_name)
    return df

In [33]:
def update_df(file_name):
    #read dataframe
    df = pd.read_excel(file_name)
    df.loc[df['name']=='jerin','age'] = 21
    df.to_excel(
        file_name,
        index=False
    )
    return df

In [34]:
def delete_data_from_excel(file_name):
    df = pd.read_excel(file_name)
    dfs = df[df["name"]!= 'sanjay']
    dfs.to_excel(
        file_name,
        index=False
    )
    return dfs

In [35]:
def startpy():
    print(create_df('example.xlsx'))
    print(read_excel('example.xlsx'))
    print(update_df('example.xlsx'))
    print(delete_data_from_excel('example.xlsx'))

In [36]:
if __name__ == '__main__':
    startpy()

None
       name  age        city
0     andal   25     chennai
1  saravana   26     madurai
2  santhosh   27  coimbatore
3     sandy   28       salem
       name  age        city
0     andal   25     chennai
1  saravana   26     madurai
2  santhosh   27  coimbatore
3     sandy   28       salem
       name  age        city
0     andal   25     chennai
1  saravana   26     madurai
2  santhosh   27  coimbatore
3     sandy   28       salem