In [ ]:
#import neccessery libraries

In [27]:
from pypika import Query, Table

In [ ]:
#This function generates a SQL-like SELECT query.

In [39]:
def create_table(users):
    query = Query.from_(users).select("id", "name", "email")
    return query

In [ ]:
#This function generates a SELECT query with a WHERE condition.

In [ ]:
def add_where_class(users):
    query = Query.from_(users).select("id", "name").where(users.name == "SARAVANA")
    return query

In [ ]:
#This function generates an INSERT query.

In [ ]:
def insert_data(users):
    query = Query.into(users).columns("id", "name", "email").insert(1, "SARAVANA", "saro@example.com")
    return query

In [ ]:
#This function generates an UPDATE query.

In [ ]:
def update_data(users):
    query = Query.update(users).set(users.name, "andal").where(users.id == 1)
    return query

In [ ]:
#This function generates a DELETE query.

In [ ]:
def delete_data(users):
    query = Query.from_(users).delete().where(users.name == "SARAVANA")
    return query

In [ ]:
#create a method called startpy, where we can run the all above methods

In [40]:
def startpy():
    print(create_table(Table("users")))
    print(add_where_class(Table("users")))
    print(insert_data(Table("users")))
    print(update_data(Table("users")))
    print(delete_data(Table("users")))

In [ ]:
#This line checks if the script is being run directly or imported

In [41]:
if __name__ == '__main__':
    startpy()

SELECT "id","name","email" FROM "users"
SELECT "id","name" FROM "users" WHERE "name"='SARAVANA'
INSERT INTO "users" ("id","name","email") VALUES (1,'SARAVANA','saro@example.com')
UPDATE "users" SET "name"='andal' WHERE "id"=1
DELETE FROM "users" WHERE "name"='SARAVANA'